- @assets.each do |asset|
  .asset-pic
    .thumb
      = link_to image_tag(asset.file.thumb.url), edit_cms_asset_path(asset)
    .copy
      %input.string{ :type => :text, :value => asset.file.url }
    = link_to t('.delete'), cms_asset_path(asset), :confirm => t('.confirm'), :method => :delete
.clear