.toolbar
  padding: 10px 0px
  background: #F8F8F8
  
  .button
    +float_right
  
.button
  background: $color1
  padding: 10px 15px
  margin-right: 10px
  +link-colors(#fff, #fff, #fff, #fff, #fff)
  +border-radius(4px)