$color1: #0c1550
$color2: #1a2363
$color3: #f7f8e6
$border-color: #cdcdcd

body
  line-height: 140%
  color: #333
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif
  background: #cccccb
  
#kuhsaft-wrapper
  //background: #e9e9e9 url(/images/wrapper-bg.png) repeat-x left 100px

.hidden
  display: none

.cms-header
  background: url(/images/header-bg.jpg)
  border-bottom: 1px solid #7c7a7f
  +min-height(200px)

.cms-module-nav
  +horizontal-list(0px)
  +float_right
  border-top: 1px solid #7c7a7f
  margin-top: -61px
  
  a
    background: $color1
    padding: 10px 15px
    line-height: 40px
    border-left: 1px solid #ccc
    +link-colors(#fff, #fff, #fff, #fff, #fff)
  
  li
    height: 40px
    
  li.current
    border-left: 1px solid #7c7a7f
    height: 41px
    a
      background: #cccccb url(/images/module-nav-tab-bg.png) repeat-x
      border-left: 1px solid #e6e6e6
      +text-shadow(#fff, 0px, 1px, 0px)
      +link-colors($color1, $color2, $color1, $color1, $color1)

.cms-content-container
  +single-box-shadow(#666, 0px, 2px, 8px)
  margin: 20px
  width: 960px

.language-tabs
  border:
    top: 1px solid #cfcfcf
    bottom: 1px solid #cfcfcf
  background: #e3e3e3 url(/images/tab-bg.png) repeat-x
  height: 40px
  
  li
    width: 100px
    height: 40px
    text-align: center
    text-transform: uppercase
    font-weight: bold
    border:
      right: 1px solid #cfcfcf
    +float_left
    
  a
    display: block
    width: 99px
    height: 100%
    line-height: 40px
    border-right: 1px solid #f0f0f0
    +text-shadow(#fff, 0px, 1px, 0px)

  .current
    background: #f8f8f8
    height: 41px

.cms-content
  background: #f8f8f8
  padding: 35px

.box-container
  border:
    left: 1px solid $border-color
    right: 1px solid $border-color
    bottom: 1px solid $border-color

.box
  border-top: 1px solid $border-color
  padding: 15px 25px
  color: #7a7a7a

.lightened-box
  background: #f0f0f0
  +text-shadow(#fff, 0px, 1px, 0px)
  @extend .box
  
.darkened-box
  background: #d5d5d5
  +text-shadow(#fff, 0px, 1px, 0px)
  @extend .box
  
.colored-box
  background: $color3
  @extend .box

h1
  font-size: 36px
  font-weight: bold
  line-height: 46px
  margin-top: 10px
  color: $color1
  background: url(/images/page-icon.png) no-repeat left 3px
  padding-left: 36px

a
  text-decoration: none
  +link-colors($color1, $color2, $color1, $color1, $color2)
  
.clear
  clear: both

.clearfix
  +clearfix

.list
  border-top: 1px solid #444
  li
    border-bottom: 1px solid #444
    
.publish-information
  input[type="radio"], label
    +float_left
    
  .grid-3, .grid-5, .grid-2
    +float_left
    
  .grid-3
    width: 180px
    
  .grid-5
    width: 300px
  
  .grid-2
    width: 120px