.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/db/migrate/*.rb
spec/dummy/db/schema.rb
spec/dummy/public/stylesheets/*.css
Gemfile.lock
.DS_Store
.sass-cache