= form.input :href, :as => :string, :input_html => { :class => 'span6' }
= form.input :caption, :as => :string, :input_html => { :class => 'span6' }
= form.input :link_style, :collection => Kuhsaft::LinkBrick.styles
