%div{ :class => slider_brick.to_style_class, :id => slider_brick.to_style_id }
  .carousel-inner
    - slider_brick.bricks.each do |brick|
      .item{ :class => (slider_brick.bricks.first == brick ? 'active' : '')}
        = render brick

  %a.carousel-control.left{ :href => "##{slider_brick.to_style_id}", 'data-slide' => 'prev' }
    &lsaquo;
  %a.carousel-control.right{ :href => "##{slider_brick.to_style_id}", 'data-slide' => 'next' }
    &rsaquo;
