- content_for :toolbar do
  = link_to t('.create'), new_admin_page_path, :class => 'button'
- content_for :scripts do
  :javascript
    $("ul.sortable").sortable({
      containment: 'parent',
      update: function(event, ui){
        var self = $(ui.item),
            prev = self.prev(),
            id   = prev.length > 0 ? prev.data('id') : '',
            sid  = self.data('id')
        $.post('/admin/pages/'+sid, {reposition:id, _method: 'put'})
      }
    })
  
%ul.pages-root.sortable
  = render :partial => 'branch', :locals => { :pages => @pages }