- unless brick_list.brick_types.empty?
  - if brick_list.brick_types.allowed.count > 1
    %a.btn.btn-small.btn-primary.dropdown-toggle{ 'data-toggle' => 'dropdown', 'href' => '#' }
      = t('.add_element')
      %span.caret
    %ul.dropdown-menu.pull-right
      - brick_list.brick_types.allowed.group_by(&:group).each do |group, types|
        - types.each do |type|
          %li
            = link_to type.class_name.constantize.model_name.human, kuhsaft.new_cms_brick_path(:brick => {:type => type.class_name, :brick_list_id => brick_list.id, :brick_list_type => brick_list.brick_list_type}), :remote => true
        .divider
  - else
    - brick_list.brick_types.allowed.each do |type|
      = link_to t('.add_specific_element', :name => type.class_name.constantize.model_name.human), kuhsaft.new_cms_brick_path(:brick => { :type => type.class_name, :brick_list_id => brick_list.id, :brick_list_type => brick_list.brick_list_type }), :remote => true, :class => 'btn btn-small btn-primary'
