= form.input :text, :as => :text, :input_html => { :class => 'ckeditor', :id => "#{brick.to_style_id}-text" }
= form.input :read_more_text, :as => :text, :input_html => { :class => 'ckeditor', :id => "#{brick.to_style_id}-read-more" }
