/* line 14, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, ../../../../../../app/stylesheets/kuhsaft/admin/screen.sass */
h1 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
