@charset "UTF-8";
/* line 14, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_generic.sass */
body {
  line-height: 135%;
  font-size: 12px;
}

/* line 5, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_generic.sass */
a {
  text-decoration: none;
  color: black;
}
/* line 18, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: black;
}
/* line 21, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: #666666;
}
/* line 27, ../../../../../../../../.rvm/gems/ruby-1.8.7-p302@kuhsaft/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: black;
}

/* line 9, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_generic.sass */
.clear {
  clear: both;
}

/* line 12, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_generic.sass */
.toolbar {
  padding: 5px 0px;
}
/* line 14, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_generic.sass */
.toolbar a {
  display: inline;
  float: right;
}

/* line 17, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_generic.sass */
#kuhsaft-wrapper {
  margin: 50px auto;
  max-width: 900px;
}

/* line 1, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
ul.pages-root {
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}
/* line 5, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
ul.pages-root ul {
  border-top: 1px solid #555555;
}
/* line 8, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
ul.pages-root li {
  border-bottom: 1px solid #555555;
}
/* line 11, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
ul.pages-root li li {
  padding: 0px 0px 0px 15px;
}
/* line 14, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
ul.pages-root li:last-child {
  border: 0px;
}
/* line 17, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
ul.pages-root a.edit {
  margin-top: 4px;
  display: inline;
  float: left;
}

/* line 21, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
.page-branch {
  margin: 5px 0px;
  background: url(../../../images/drag-handle.png) no-repeat;
  padding-left: 25px;
}
/* line 26, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
.page-branch .new-child, .page-branch .delete {
  margin-left: 10px;
  visibility: hidden;
  display: inline;
  float: right;
}
/* line 32, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_pages.sass */
.page-branch:hover .new-child, .page-branch:hover .delete {
  visibility: visible;
}

/* line 2, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button {
  display: inline-block;
  padding: 3px 5px 3px 5px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  color: #3c3c3d;
  text-shadow: 1px 1px 0 white;
  background: #ececec url("../../../images/css3buttons_backgrounds.png") 0 0 no-repeat;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #cacaca;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  position: relative;
  zoom: 1;
  *display: inline;
}
/* line 23, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.primary {
  font-weight: bold;
}
/* line 25, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover {
  color: white;
  border-color: #388ad4;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  background-position: 0 -40px;
  background-color: #2d7dc5;
}
/* line 32, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:active, a.button.active {
  background-position: 0 -81px;
  border-color: #347bba;
  background-color: #0f5ea2;
  color: white;
  text-shadow: none;
}
/* line 38, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:active {
  top: 1px;
}
/* line 41, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.negative:hover {
  color: white;
  background-position: 0 -121px;
  background-color: #d84743;
  border-color: #911d1b;
}
/* line 46, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.negative:active, a.button.negative.active {
  background-position: 0 -161px;
  background-color: #a5211e;
  border-color: #911d1b;
}
/* line 50, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.pill {
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  padding: 2px 10px 2px 10px;
}
/* line 55, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.left {
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-topright: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 0px;
}
/* line 63, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.middle {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-left: none;
}
/* line 70, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.right {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  border-left: none;
}
/* line 79, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.left:active, a.button.middle:active, a.button.right:active {
  top: 0px;
}
/* line 81, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button.big {
  font-size: 16px;
  padding-left: 17px;
  padding-right: 17px;
}
/* line 85, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin: auto 7px auto auto;
  position: relative;
  top: 2px;
  background-image: url("../../../images/css3buttons_icons.png");
  background-repeat: no-repeat;
}
/* line 94, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.big.button span.icon {
  top: 0px;
}
/* line 97, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.book {
  background-position: 0 0;
}
/* line 99, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.book {
  background-position: 0 -15px;
}
/* line 101, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.calendar {
  background-position: 0 -30px;
}
/* line 103, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.calendar {
  background-position: 0 -45px;
}
/* line 105, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.chat {
  background-position: 0 -60px;
}
/* line 107, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.chat {
  background-position: 0 -75px;
}
/* line 109, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.check {
  background-position: 0 -90px;
}
/* line 111, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.check {
  background-position: 0 -103px;
}
/* line 113, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.clock {
  background-position: 0 -116px;
}
/* line 115, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.clock {
  background-position: 0 -131px;
}
/* line 117, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.cog {
  background-position: 0 -146px;
}
/* line 119, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.cog {
  background-position: 0 -161px;
}
/* line 121, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.comment {
  background-position: 0 -176px;
}
/* line 123, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.comment {
  background-position: 0 -190px;
}
/* line 125, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.cross {
  background-position: 0 -204px;
}
/* line 127, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.cross {
  background-position: 0 -219px;
}
/* line 129, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.downarrow {
  background-position: 0 -234px;
}
/* line 131, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.downarrow {
  background-position: 0 -249px;
}
/* line 133, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.fork {
  background-position: 0 -264px;
}
/* line 135, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.fork {
  background-position: 0 -279px;
}
/* line 137, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.heart {
  background-position: 0 -294px;
}
/* line 139, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.heart {
  background-position: 0 -308px;
}
/* line 141, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.home {
  background-position: 0 -322px;
}
/* line 143, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.home {
  background-position: 0 -337px;
}
/* line 145, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.key {
  background-position: 0 -352px;
}
/* line 147, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.key {
  background-position: 0 -367px;
}
/* line 149, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.leftarrow {
  background-position: 0 -382px;
}
/* line 151, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.leftarrow {
  background-position: 0 -397px;
}
/* line 153, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.lock {
  background-position: 0 -412px;
}
/* line 155, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.lock {
  background-position: 0 -427px;
}
/* line 157, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.loop {
  background-position: 0 -442px;
}
/* line 159, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.loop {
  background-position: 0 -457px;
}
/* line 161, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.magnifier {
  background-position: 0 -472px;
}
/* line 163, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.magnifier {
  background-position: 0 -487px;
}
/* line 165, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.mail {
  background-position: 0 -502px;
}
/* line 167, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.mail {
  background-position: 0 -514px;
}
/* line 169, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.move {
  background-position: 0 -526px;
}
/* line 171, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.move {
  background-position: 0 -541px;
}
/* line 173, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.pen {
  background-position: 0 -556px;
}
/* line 175, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.pen {
  background-position: 0 -571px;
}
/* line 177, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.pin {
  background-position: 0 -586px;
}
/* line 179, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.pin {
  background-position: 0 -601px;
}
/* line 181, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.plus {
  background-position: 0 -616px;
}
/* line 183, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.plus {
  background-position: 0 -631px;
}
/* line 185, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.reload {
  background-position: 0 -646px;
}
/* line 187, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.reload {
  background-position: 0 -660px;
}
/* line 189, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.rightarrow {
  background-position: 0 -674px;
}
/* line 191, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.rightarrow {
  background-position: 0 -689px;
}
/* line 193, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.rss {
  background-position: 0 -704px;
}
/* line 195, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.rss {
  background-position: 0 -719px;
}
/* line 197, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.tag {
  background-position: 0 -734px;
}
/* line 199, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.tag {
  background-position: 0 -749px;
}
/* line 201, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.trash {
  background-position: 0 -764px;
}
/* line 203, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.trash {
  background-position: 0 -779px;
}
/* line 205, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.unlock {
  background-position: 0 -794px;
}
/* line 207, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.unlock {
  background-position: 0 -809px;
}
/* line 209, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.uparrow {
  background-position: 0 -824px;
}
/* line 211, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.uparrow {
  background-position: 0 -839px;
}
/* line 213, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button span.icon.user {
  background-position: 0 -854px;
}
/* line 215, ../../../../../../app/stylesheets/kuhsaft/admin/partials/_buttons.sass */
a.button:hover span.icon.user {
  background-position: 0 -869px;
}
