- if brick.errors.any?
  .alert.alert-error
    = t('.any_source_error')

= form.input :video, :collection => Kuhsaft::VideoBrick.source_types
= form.input :href, :as => :string, :input_html => { :class => 'span6' }
%hr
= form.input :embed_src, :as => :text, :input_html => { :class => 'span6', :rows => 5 }, :hint => t('.embed_src_optional')
