%div{ :class => image_brick.to_style_class }
  - if image_brick.image.present?
    = image_tag(image_brick.image.converted.url, :alt => image_brick.alt_text.present? ? image_brick.alt_text : image_alt(image_brick.image.path) )

    - if image_brick.caption.present?
      .image-caption
        - if image_brick.href.present?
          = link_to image_brick.href do
            = image_brick.caption
        - else
          = image_brick.caption
