%table
  - @assets.each do |asset|
    %tr
      %td
        .thumb= image_tag asset.file.thumb.url
      %td
        .link= link_to asset.file.filename, asset.file.url, :target => '_new'
        .copy-link
          %input{ :type => :text, :value => asset.file.url }
      %td
        = link_to t('kuhsaft.admin.assets.index.delete'), admin_asset_path(asset), :confirm => t('kuhsaft.admin.assets.index.confirm'), :method => :delete, :class => 'delete button negative'