.actions.row
  .span9
  .span3
    = link_to kuhsaft.new_page_path, :class => 'btn btn-primary' do
      %i.icon-plus-sign.icon-white
      = t('.add_page')
= render :partial => 'branch', :locals => { :pages => @pages }
