= content_for :head do
  %title= @page.page_title.present? ? @page.page_title : @page.title
  %meta{ name: 'keywords', content: @page.keywords }
  %meta{ name: 'description', content: @page.description }
  - if @page.google_verification_key.present? && @page == homepage
    %meta{ name: 'google-site-verification', content: @page.google_verification_key }

- cache [@page, I18n.locale, @page.children, @page.bricks] do
  - unless @page.blank?
    .page-content
      -# TODO: refactor into scopes or simplify otherwise:
      - @page.bricks.localized.select(&:valid?).each do |brick|
        = render brick
