.brick-list{ :id => brick_list.to_brick_list_id }
  .brick-list-items
    - brick_list.bricks.each do |brick|
      = render 'kuhsaft/cms/bricks/brick_item', :brick => brick
  - if brick_list.user_can_add_childs?
    .brick-list-header
      - if Kuhsaft::BrickType.count > 0
        .btn-group
          %a.btn.btn-mini.dropdown-toggle{ 'data-toggle' => 'dropdown', 'href' => '#' }
            = t('.add_element')
            %span.caret
          %ul.dropdown-menu
            - Kuhsaft::BrickType.grouped.group_by(&:group).each do |group, types|
              - types.each do |type|
                %li
                  = link_to type.class_name.constantize.model_name.human, kuhsaft.cms_bricks_path(:brick => { :type => type.class_name, :brick_list_id => brick_list.id, :brick_list_type => brick_list.brick_list_type }), :remote => true, :method => :post
              .divider
