.brick-list{ :id => brick_list.to_brick_list_id }
  .brick-list-items
    - brick_list.bricks.each do |brick|
      = render 'kuhsaft/cms/bricks/brick_item', :brick => brick
  - if brick_list.user_can_add_childs?
    .brick-list-header
      .btn-group
        %a.btn.btn-mini.dropdown-toggle{ 'data-toggle' => 'dropdown', 'href' => '#' }
          Element hinzufügen
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Text', kuhsaft.bricks_path(:brick => { :type => 'Kuhsaft::TextBrick', :brick_list_id => brick_list.id, :brick_list_type => brick_list.brick_list_type }), :remote => true, :method => :post
          .divider
          %li
            = link_to 'Zweispaltiges Element', kuhsaft.bricks_path(:brick => { :type => 'Kuhsaft::TwoColumnBrick', :brick_list_id => brick_list.id, :brick_list_type => brick_list.class.to_s }), :remote => true, :method => :post
