.brick-list{ :id => brick_list.to_brick_list_id }
  = render 'empty_state', :brick => brick_list
  - brick_list.bricks.each do |brick|


    /- binding.pry
    /- if brick.errors.any?
    /  %ul
    /    - brick.errors.full_messages.each do |msg|
    /      %li= msg


    = render 'kuhsaft/cms/bricks/brick_item', :brick => brick
