$("##{@brick.brick_list.to_brick_list_id}.brick-list").append("#{j(render('kuhsaft/cms/bricks/brick_item', :brick => @brick))}").find("> .empty-state").remove()

- # need a reference to the new dom node, so a new query is needed here
var newlyInsertedBrick = $("##{@brick.to_brick_item_id}")
initSavePopover(newlyInsertedBrick)
initSubmitLinks(newlyInsertedBrick)

$(newlyInsertedBrick).find('textarea.ckeditor').each(function (index, elem) { initCKEditor(elem.id) })
