$("#form-container #brick-form").modal('hide')
$("#form-container #brick-form").remove()

$("#form-container").append("#{j(render('kuhsaft/cms/bricks/new', :brick => @brick, :format => :html))}")

$("#form-container").find('textarea.ckeditor').each(function (index, elem) { initCKEditor(elem.id) })

$("#brick-form").modal()
