- if @brick.errors.any?
  $("#brick-form").modal('attention')

$("#brick-form").empty()

$("#brick-form").append("#{j(render('kuhsaft/cms/bricks/new', :brick => @brick, :format => :html))}")

$("#brick-form").find('textarea.ckeditor').each(function (index, elem) { initCKEditor(elem.id) })

$("#brick-form").modal('show')

-# Stop propagation of display styles dropdown
stopPropagationOfDisplayStyles($('#display-styles ul'))
