$("##{@brick.to_brick_item_id}").replaceWith("#{j(render('kuhsaft/cms/bricks/brick_item', :brick => @brick))}")

- # need a reference to the new dom node, so a new query is needed here
var newlyInsertedBrick = $("##{@brick.to_brick_item_id}")
initSavePopover(newlyInsertedBrick)
initSubmitLinks(newlyInsertedBrick)
